@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Semestrální projekt do předmětu xPWA</h2>
    <p>Databáze filmů.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Nepřihlášený uživatel</h2>
        <p>
            Přístup nepřihlášeného uživatele je omezen pouze na stranky: <strong>Domů, O aplikaci a Kontakt</strong>.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Přihlášený uživatel</h2>
        <p>Přihlášený uživatel ma přístup do filmotéky a může si prohlížed detail jednotlivých filmů. Běžný uživatelský účet lze vytvořit registrací.<br />V systému je ukázkový účet s přihlašovacímí údaji:<br /><strong>email: user@email.com<br /> heslo: Password1*</strong></p>
    </div>
    <div class="col-md-4">
        <h2>Administrátor</h2>
        <p>Administrátor má přístup do všech stránek aplikace. Ve filmotéce může vytvářet, mazat nebo editovat jednotlivé filmy.<br />Administrátorský účet má přístupové údaje:<br /><strong>email: admin@email.com<br />heslo: Password1*</strong></p>
    </div>
</div>